body {
  background-color: rgb(156, 146, 112);
  text-align: center;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E0BAQF44IT_m9pLpg/company-logo_200_200/0/1611757273585?e=2147483647&v=beta&t=WOmJ1SHnjZk5jAiTiJsefbxSqEpEh5djI-ia8gWwvj8");
}

h1 {
  font-size: 3em;
}

form {
  border: solid 2px black;
  width: fit-content;
  max-width: 60%;
  min-width: 40%;
  margin: 0 auto;
  background-color: rgb(236, 236, 236);
  padding: 10px;
}

table {
  width: 100%;
  align-items: center;
  justify-items: center;
}

select {
  width: 160px;
  height: 35px;
}

option {
  font-size: large;
}

fieldset {
  width: fit-content;
  margin: 0 auto;
}

legend {
  font-size: large;
  font-weight: bold;  
  width: 85%;
  border: 1px solid black;
  padding: 3px 6px;
  cursor: pointer;
  display: inline-block;
}

legend::after {
  content: "▼";
  float: right;
}

.cotton {
  font-weight: bold;
  font-size: large;
}


input {
  align-items: center;
  height: 20px;
  width: 105px;
}

#clientes {
  width: fit-content;
  min-width: 80%;
}

#date {
  border: solid 1px black;
  display: inline;
  float: right;
  font-size: larger;
  margin: 5px;
  background-color: white;
}

#localidad {
  display: inline;
  float: left;
  margin: 0px auto 5px 10%;
}

button, .submit {
  font-size: larger;
  margin: 5px;
  height:fit-content;
  width: fit-content;
}

#observaciones {
  min-width: 80%;
}